.profile {

	&__title {
		font-size: 24px;
		letter-spacing: -0.3px;

		margin: 7% 0 19px;
	}

	&__description {
		position: relative;

		font-size: 14px;
		font-style: italic;

		color: $text;

		&:before {
			content: '';

			position: absolute;
			top: 7px;
			left: -20px;

			width: 16px;
			height: 2px;

			background-color: $before;

			border-radius: 2px;
		}
	}
}

@media (max-width: 578px) {
	.profile {

		&__title {
			font-size: 22px;
		}

		&__description {
			font-size: 12px;
		}
	}
}
