.validate {

	&__error {
		display: block;

		color: $error-group-name;
		font-size: 11px;

		padding: 2px 0 2px 12px;
		background-color: $error;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}
