.validate {

	&__error {
		display: block;

		color: $error-group-name;
		font-size: 11px;

		margin-top: -3px;
		padding: 3px 10px;
		background-color: $error;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}

